<div class="container" id="trackers">

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img src="/assets/images/trackers/fitbit_logo_158_38.png" alt="Fitbit" class="center-block img-responsive" />
        </div>
        <div class="panel-body">
          {{#if hasFitbit}}
            <button class="btn btn-danger btn-block" {{action 'unregister' 'fitbit' on='click'}} id="unregister_fitbit">
              Unregister Tracker
            </button>
          {{else}}
            <button class="btn btn-primary btn-block" {{action 'register' 'fitbit' on='click'}} id="register_fitbit">
              Subscribe
            </button>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img src="/assets/images/trackers/jawbone-up-logo_197_38.png" alt="Jawbone" class="center-block img-responsive" />
        </div>
        <div class="panel-body">
          {{#if hasJawbone}}
            <button class="btn btn-danger btn-block" {{action 'unregister' 'jawbone' on='click'}} id="unregister_jawbone">
              Unregister Tracker
            </button>
          {{else}}
            <button class="btn btn-primary btn-block" {{action 'register' 'jawbone' on='click'}} id="register_jawbone">
              Subscribe
            </button>
          {{/if}}
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img src="/assets/images/trackers/runkeeper_logo_219_38.png" alt="Runkeeper" class="center-block img-responsive" />
        </div>
        <div class="panel-body">
          <button class="btn btn-primary btn-block" disabled="disabled">
            Coming Soon
          </button>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img src="/assets/images/trackers/withings_logo_128_38.png" alt="Withings" class="center-block img-responsive" />
        </div>
        <div class="panel-body">
          <button class="btn btn-primary btn-block" disabled="disabled">
            Coming Soon
          </button>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <img src="/assets/images/trackers/fatsecret_logo_179_38.png" alt="Jawbone" class="center-block img-responsive" />
        </div>
        <div class="panel-body">
          <button class="btn btn-primary btn-block" disabled="disabled">
            Coming Soon
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
