{{!-- <div class="container">

  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Steps</h3>
        </div>
        <div class="panel-body">
          {{gauge-chart label="Steps" value=content.steps maxValue="10000"}}
        </div>
      </div>
    </div>


  </div>
</div> --}}

<div class="container-fluid">
    {{partial 'dashboard/header'}}
    <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon"><img src="/assets/images/steps.png" alt="steps-icon" /></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{content.steps}}</div>
                            <div>Steps</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="icon"><img src="/assets/images/stair-icon.png" alt="stairs-icon" /></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{content.activity.floors}}</div>
                            <div>Floors Climbed</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-yellow">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-fire fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{content.activity.calories_burned}}</div>
                            <div>Calories Burned</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-bolt fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{content.activity.very_active_minutes}}</div>
                            <div>Very Active Minutes</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> History Chart</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-area-chart"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-pie-chart fa-fw"></i> Overall Score</h3>
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart">
                        {{gauge-chart label="Steps" value=score.overall maxValue="100"}}
                    </div>
                    <div class="text-right">
                        <a href="#">View Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-trophy fa-fw"></i> Attribute Scores</h3>
                </div>
                <div class="panel-body">
                    {{#if score}}
                        <div class="list-group">
                            <a href="#" class="list-group-item">
                                <span {{bind-attr class=":badge staminaClass"}}>{{score.stamina}}%</span>
                                <i class="fa fa-fw fa-heart"></i> Stamina
                            </a>
                            <a href="#" class="list-group-item">
                                <span {{bind-attr class=":badge strengthClass"}}>{{score.strength}}%</span>
                                <i class="fa fa-fw fa-gavel"></i> Strength
                            </a>
                            <a href="#" class="list-group-item">
                                <span {{bind-attr class=":badge mindClass"}}>{{score.mind}}%</span>
                                <i class="fa fa-fw fa-graduation-cap"></i> Mind
                            </a>
                            <a href="#" class="list-group-item">
                                <span {{bind-attr class=":badge vitalityClass"}}">{{score.vitality}}%</span>
                                <i class="fa fa-fw fa-shield"></i> Vitality
                            </a>
                            <a href="#" class="list-group-item">
                                <span {{bind-attr class=":badge agilityClass"}}>{{score.agility}}%</span>
                                <i class="fa fa-fw fa-child"></i> Agility
                            </a>
                        </div>
                    {{else}}
                        <em>Loading...</em>
                    {{/if}}
                    <div class="text-right">
                        <a href="#">View More Details <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-exclamation fa-fw"></i> Active Quests</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Quest</th>
                                    <th>Rewards</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Take 10,000 steps today</td>
                                    <td><i class="fa fa-heart fa-fw"></i>+6%, <i class="fa fa-fw fa-shield"></i>+4%</td>
                                    <td>In progress</td>
                                </tr>
                                <tr class="success">
                                    <td>Take 5,000 steps today</td>
                                    <td><i class="fa fa-heart fa-fw"></i>+3%, <i class="fa fa-fw fa-shield"></i>+2%</td>
                                    <td>Completed</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                        <a href="#">Add More Quests <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->
